{% extends "layout/base.html" %} {% block content %}
<div class="project-profile">
    <h2>== Project ==</h2>
    <div>
        <h2>{{ project.title }}</h2>
        <p><a href="{% url 'clients:clientProfile' id=project.responsible_client.id %}"> {{ project.responsible_client }}</a> </p>

        <p> TAsks:  
            {% for task in project.tasks.all %}
            <a href="{% url 'clients:taskProfile' id=task.id %}"> {{ task.title }}</a> 
            {% endfor %}
        </p>

    </div>
</div>
{% endblock %}