{% extends "layout/base.html" %} {% block content %}
<div class="task-profile">
    <h2>== Task ==</h2>
    <div class="obj">
        <h2 class="obj-name">{{ task.title }}</h2>
        <p>Assigned to: <a href="{% url 'clients:clientProfile' id=task.responsible_client.id %}"> {{ task.responsible_client }}</a> </p>
        <p> Subtasks:  
            {% for subtask in task.subTasks.all %}
            <a href="{% url 'clients:subtaskProfile' id=subtask.id %}"> {{ subtask.title }}</a> 
            {% endfor %}
        </p>

        <p> This projects are dependant on this tasks: <br>
            {% for project in projects %}
            <b><a href="{% url 'clients:projectProfile' id=project.id %}"> {{ project.title }}</a>
                <br></b>
            {% endfor %} 
        </p>
    </div>
</div>
{% endblock %}