{% extends "layout/base.html" %}
{% load static %}
{% block content %} 

    <div>
        <select id="filter-field">
            <option value="name">Name</option>
        </select>
        
        <select id="filter-type">
            <option value="like">like</option>
        </select>

        <input id="filter-value" type="text" placeholder="value to filter">
        <button id="filter-clear">Clear Filter</button>
    </div>
    
    <h3>Clients</h3>
    <div id="client-data-tables"></div> <br><br>
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="{% static 'js/clientDashboard.js' %}"></script>

{% endblock %}