<nav class="main-nav">
        <ul>
            <li> <a class="admin" href="admin">Admin</a> </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> List </a>
                <div class="dropdown-menu">
                <a class="dropdown-item"  href="{% url 'clients:clientList' %}">  Client  </a>
                <a class="dropdown-item"  href="{% url 'clients:subTaskList' %}">  Subtask  </a>
                <a class="dropdown-item"  href="{% url 'clients:taskList' %}">  Task  </a>
                <a class="dropdown-item"  href="{% url 'clients:projectList' %}">  Project  </a>                    
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Documentation </a>
                <div class="dropdown-menu">
                <a class="dropdown-item"  href="{% url 'swagger-swagger-ui' %}">  Swagger  </a>
                <a class="dropdown-item"  href="{% url 'schema-redoc' %}">  Redoc  </a>                  
            </li>
        </ul>
</nav>