{% extends "layout/base.html" %} {% block content %}

<div class="rules">
    <h1 class="rules-info"> Priority: 1 (low), 2 (mid), 3 (high)</h1>
</div>

<div class="table-title">
    <div class="row">
        <div class="col-sm-8"><h2><b>TASKS</b></h2></div>
        <div class="col-sm-4">
            <a type="button" href="{% url 'clients:addTask' %}" class="btn btn-info add-new"><i class="fa fa-plus"></i>New Task</a>
        </div>
    </div>
</div>
<div class="objects">
    <h2>LOW</h2>
    {% for task in Tasks %}
    {% if task.priority == 1 %}
    <div class="obj">
        <a class="obj-name"><b> {{ task.title }} </b> </a>
        <p>Priority: <i class="low"> LOW </i> </p>
        <p>Deadline: {{ task.deadline }} </p>
        <p>Days left: {{ task.daysLeft }} days</p>
        <p>Responsible client: {{ task.responsible_client}} </p>
        <p>SubTasks: {% for subtask in task.subTasks.all %}
            <a href="{% url 'clients:subtaskProfile' id=subtask.id %}"> <b class="obj-list"> {{ subtask.title }}</b> </a>, {% endfor %}
        </p>
        <p>Task status: <b>{{ task.status }}</b></p>
    </div>
    {% endif %}
    {% endfor %}

    <h2>MID</h2>
    {% for task in Tasks %}
    {% if task.priority == 2 %}
    <div class="obj">
        <a class="obj-name"><b> {{ task.title }} </b> </a>
        <p>Priority: <i class="mid"> MID </i> </p>
        <p>Deadline: {{ task.deadline }} </p>
        <p>Days left: {{ task.daysLeft }} days</p>
        <p>Responsible client: {{ task.responsible_client}} </p>
        <p>SubTasks: {% for subtask in task.subTasks.all %}
            <a href="{% url 'clients:subtaskProfile' id=subtask.id %}"> <b class="obj-list"> {{ subtask.title }}</b> </a>, {% endfor %}
        </p>
        <p>Task status: <b>{{ task.status }}</b></p>
    </div>
    {% endif %}
    {% endfor %}

    <h2>HIGH</h2>
    {% for task in Tasks %}
    {% if task.priority == 3 %}
    <div class="obj">
        <a class="obj-name"><b> {{ task.title }} </b> </a>
        <p>Priority: <i class="high"> HIGH </i> </p>
        <p>Deadline: {{ task.deadline }} </p>
        <p>Days left: {{ task.daysLeft }} days </p>
        <p>Responsible client: {{ task.responsible_client}} </p>
        <p>SubTasks: {% for subtask in task.subTasks.all %}
            <a href="{% url 'clients:subtaskProfile' id=subtask.id %}"> <b class="obj-list"> {{ subtask.title }}</b> </a>, {% endfor %}
        </p>
        <p>Task status: <b>{{ task.status }}</b></p>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}